android-example-projects/android-examples/exported-components/AttackerApp/*.iml
android-example-projects/android-examples/exported-components/AttackerApp/.gradle
android-example-projects/android-examples/exported-components/AttackerApp/local.properties
android-example-projects/android-examples/exported-components/AttackerApp/.idea/caches
android-example-projects/android-examples/exported-components/AttackerApp/.idea/libraries
android-example-projects/android-examples/exported-components/AttackerApp/.idea/modules.xml
android-example-projects/android-examples/exported-components/AttackerApp/.idea/workspace.xml
android-example-projects/android-examples/exported-components/AttackerApp/.idea/navEditor.xml
android-example-projects/android-examples/exported-components/AttackerApp/.idea/assetWizardSettings.xml
android-example-projects/android-examples/exported-components/AttackerApp/.DS_Store
android-example-projects/android-examples/exported-components/AttackerApp/build
android-example-projects/android-examples/exported-components/AttackerApp/captures
android-example-projects/android-examples/exported-components/AttackerApp/.externalNativeBuild
android-example-projects/android-examples/exported-components/AttackerApp/.cxx
android-example-projects/android-examples/exported-components/AttackerApp/local.properties
